<footer>
  <span class="material-symbols-outlined footer-icon"> mail </span>
  <div class="footer-desc">
    <p class="footer-desc-uppercase">subskrybuj</p>
    <p class="footer-desc-p">
      Bądź pierwszym, który dowie się o naszych nowych produktach
    </p>
  </div>
  <div class="footer-subscribe">
    <div class="footer-subscribe-input">
      <input
        type="text"
        class="footer-subscribe-input-container"
        [(ngModel)]="subscriberMail"
      />
    </div>
    <button class="footer-subscribe-button" (click)="onSubscribe()">
      subskrybuj
    </button>
  </div>
  <div class="footer-nav">
    <span>O nas</span>
    <span>Produkty</span>
    <span>Kontakt</span>
    <span>Warunki użytkowania</span>
    <span>Polityka prywatności</span>
  </div>
  <div class="footer-copyright">
    &copy; 2023, EcoBazarek Store Powered By Wiktoria Karczewska
  </div>
</footer>
