<header>
  <mat-toolbar class="mat-toolbar">
    <figure>
      <img src="../../../assets/ecobazarek-logo.png" alt="" height="200px" />
      <figcaption>EcoBazarek</figcaption>
    </figure>

    <li class="toolbar-buttons toolbar-list">
      <ul>
        <button class="toolbar-button">Home</button>
      </ul>
      <ul>
        <button class="toolbar-button">O nas</button>
      </ul>
      <ul>
        <button class="toolbar-button">Produkty</button>
      </ul>
      <ul>
        <button class="toolbar-button">Kontakt</button>
      </ul>
    </li>
    <li class="toolbar-icons toolbar-list">
      <ul>
        <button class="toolbar-button">
          <span class="material-symbols-outlined toolbar-icon"> search </span>
        </button>
      </ul>
      <ul>
        <button class="toolbar-button">
          <span class="material-symbols-outlined toolbar-icon">
            notifications
          </span>
        </button>
      </ul>
      <ul>
        <button class="toolbar-button">
          <span class="material-symbols-outlined toolbar-icon"> person </span>
        </button>
      </ul>
    </li>
  </mat-toolbar>
</header>
